.preview {
   img {
      border: 1px solid #666;
      transform: scale(2);
    }
}
.sequencer {
  
  
  table {
    margin: auto;
    text-align: left;
    font-family: 'courier new';   
    
    border-collapse: collapse;
    
    .time { color: transparent; }
    .step {
      color : lime;
      &:first-child {
        xbackground-color: #666;
      }
      
      &:nth-child(2n+1) {
        xbackground-color: #666;
      }
      
      .opcode:first-child .time {
        color: inherit;
      }
      
      .opcode {
        text-transform: uppercase;
        border: 1px solid #666;
        .data {
          font-size: 60%;
        }
      }
      &.current {
        color: #000;
        background-color: rgba(255,255,255,0.5) ;
        font-weight:bold;
      }
      .img img {
        transform: scale(2);
      }
    }
  }
}
