body {
  margin:0;
  padding:0;
	text-align : center;
  background-color: #222;
  color: #ddd;
}

pixelSize = 32px

.pixel {
	position: absolute;

	width: pixelSize;
	height: pixelSize;
	background-color: #444;
	border-radius: (pixelSize / 2);
}

input {
  border: 0;
}

.matrix {
  position: relative;
  width: 256px;
  height: 256px;
  margin: 0 auto 42px auto;
}